.touch-marker {
    position: absolute;
    display: block;
    margin: 1em;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.4em;
    overflow: visible;
    z-index: 100000;
}
.touch-marker::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    pointer-events: none;
}
.touch-marker::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    pointer-events: none;
}
.touch-marker-animate::before,
.touch-marker-animate::after {
    box-shadow: 0 0 0 2px rgba(0,200,200,0.5);
    animation-name: touch-marker-anim-1, touch-marker-anim-2;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.touch-marker.touch-marker-animate-partner::after {
    animation-delay: 0.5s;
}
/* animation code borrowed from http://tympanus.net/codrops/2015/02/11/subtle-click-feedback-effects/ */
@-webkit-keyframes touch-marker-anim-1 {
    0% {
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        transform: scale3d(1.4, 1.4, 1);
    }
}
@-webkit-keyframes touch-marker-anim-2 {
    0%, 100% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 1;
    }
}
@-moz-keyframes touch-marker-anim-1 {
    0% {
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        transform: scale3d(1.4, 1.4, 1);
    }
}
@-webkit-keyframes touch-marker-anim-1 {
    0% {
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        transform: scale3d(1.4, 1.4, 1);
    }
}
@-o-keyframes touch-marker-anim-1 {
    0% {
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        transform: scale3d(1.4, 1.4, 1);
    }
}
@keyframes touch-marker-anim-1 {
    0% {
        transform: scale3d(0.5, 0.5, 1);
    }
    100% {
        transform: scale3d(1.4, 1.4, 1);
    }
}
@-moz-keyframes touch-marker-anim-2 {
    0%, 100% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 1;
    }
}
@-webkit-keyframes touch-marker-anim-2 {
    0%, 100% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 1;
    }
}
@-o-keyframes touch-marker-anim-2 {
    0%, 100% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 1;
    }
}
@keyframes touch-marker-anim-2 {
    0%, 100% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 1;
    }
}
